body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 12px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 15px;
}

.button-container {
  display: flex;
  justify-content: center; /* Centers buttons in the middle */
  gap: 10px; /* Adds space between buttons */
  margin-bottom: 20px;
}

.button-container button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: #ff385c;
  color: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  margin: 5px;
  font-size: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  min-width: 90px;
}

.button-container button:hover {
  background-color: #e91e63;
  transform: translateY(-2px);
}

.snippet-content {
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 12px;
  color: #333;
  overflow-y: auto; /* Add vertical scroll if content overflows */
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  border: none;
  padding: 2px;
  text-align: left;
}

th {
  background-color: #f8f8f8;
  color: #555;
  font-size: 12px;
}

td {
  vertical-align: top;
  border: none;
  font-size: 12px;
}

/* Snippet Action Buttons */
.snippet-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  background-color: #acb0b7;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  margin: 2px;
  font-size: 12px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

.snippet-button:hover {
  background-color: #e91e63;
  transform: translateY(-2px);
}

/* Formatting Options */
.formatting-options {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.formatting-options button {
  margin-right: 5px;
  padding: 5px;
  font-size: 12px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
}

.formatting-options button:hover {
  background-color: #e1e1e1;
}

.toolbar button {
  margin-right: 4px;
  padding: 4px 8px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.toolbar button:hover {
  background-color: #0056b3;
}


/* Icon Styling */
.button-icon, .snippet-icon {
  width: 12px;
  height: 12px;
  fill: white;
}

.snippet-icon {
  width: 12px; /* Adjust icon size */
  height: 12px; /* Adjust icon size */
}

/* Hide the hotkey column */
#snippetsTable th:nth-child(1),
#snippetsTable td:nth-child(1) {
  width: 10px;
}

/* Set a width for the Actions column */
#snippetsTable th:nth-child(3),
#snippetsTable td:nth-child(3) {
    width: 200px; /* Adjust this width as needed */
}

/* Set a width for the Actions column */
#snippetsTable th:nth-child(4),
#snippetsTable td:nth-child(4) {
    width: 130px; /* Adjust this width as needed */
}

/* Adjusted Action Buttons Container for Vertical Layout */
.action-cell {
  display: flex;
  flex-direction: row; /* Stack buttons vertically */
  gap: 2px; /* Space between action buttons */
  justify-content: center;
  align-items: center;
}

/* Style for the tag container */
.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* Space between tags */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

/* Style for individual tags */
.tag {
  background-color: #e0e0e0;
  border-radius: 3px;
  padding: 2px 8px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s, color 0.3s;
}

/* Style for selected tags */
.tag.selected {
  background-color: #007BFF;
  color: white;
}

.tag-container {
  width: 100%;
  padding: 1px;
  font-size: 12px;
  color: #333;
  height: 100%; /* Fixed height */
}

.styled-category-blank {
  padding: 0px;
  background-color: #fff;
  color: #333;
}

.styled-category-selected {
  background-color: #007bff;
  color: #fff;
}

.category-container {
  display: inline-flex;
  align-items: center;
  justify-content: center; /* Centers categories horizontally */
  width: 100%; /* Takes full width of parent */
  padding: 4px;
  flex-wrap: wrap; /* Allows categories to wrap to next line */
}

.category {
  background-color: #acb0b7;
  margin: 3px;
  padding: 4px 10px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.category.selected {
  background-color: #007BFF;;
}

.category:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}
